* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(130deg, #667eab 0%, #7c37c2 100%);
    min-height: 100vh;
    padding: 20px;
    color: #202022;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}
.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 1.2rem;
    opacity: 0.9;
}

.add-task-section {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 25px;
}
.task-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group label {
    font-weight: 600;
    color: #646464;
    font-size: 0.9rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px 16px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 8px;
    font-size: 1rem;
    transform: all 0.3s ease;
    font-family: inherit;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus textarea:focus {
    outline: none;
    border-color: rgb(222, 171, 248);
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.btn {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: ponter;
    transition: all 0.3s ease;
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.btn-primary {
    background-color: #a065dc;
    color: #fff;
}
.btn-primary:hover {
    transform: translateY(-2px);
    background-color: #5b3581;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #fff;
}
.filter-section,
.sort-section {
    display: flex;
    align-items: center;
    gap: 12px;
}
.filter-section label,
.sort-section label {
    font-weight: 600;
    color: #64748b;
}

.filter-btn {
    padding: 8px 16px;
    border: 2px solid #e2e2e2;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
}

.filter-buttons {
    display: flex;
    gap: 8px;
}

.filter-btn:hover {
    border-color: #a065dc;
    color: #a065dc;
}
.filter-btn.active {
    background-color: #a065dc;
    color: #fff;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.empty-state {
    background-color: #fff;
    padding: 60px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.1rem;
    color: grey;
}
.task-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    border-left: 4px solid #e2e2e2;
    transition: all 0.3s ease;
    animation: slideIn 0.3s ease;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translate(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.task-card:hover {
    /* box-shadow: 0 4px 6px -1px rgb(0, 0, 0, 0.1); */
    transform: translateY(-2px);
}

.task-card.priority-low {
    border-left-color: rgb(50, 158, 50);
}
.task-card.priority-medium {
    border-left-color: rgb(255, 196, 86);
}
.task-card.priority-high {
    border-left-color: rgb(255, 80, 80);
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 12px;
}

.task-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #1e1e1e;
}
.task-priority {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.priority-high {
    background-color: #fee2e2;
    color: #ef4444;
}
.priority-medium {
    background-color: #fef3c7;
    color: rgb(255, 196, 86);
}
.priority-low {
    background-color: #d1fae5;
    color: rgb(50, 158, 50);
}

.task-description {
    color: #64748b;
    margin-bottom: 12px;
    line-height: 1.6;
}

.task-meta {
    display: flex;
    align-items: center;
    gap: 15;
    margin-bottom: 15px;
    color: #64748b;
    font-size: 0.9rem;
}

.task-data {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.btn-edit,
.btn-delete {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.btn-edit {
    background-color: #dbeafe;
    color: #1e40af;
}

.btn-edit:hover {
    background-color: #bfdbfe;
}
.btn-delete {
    background-color: #dbeafe;
    color: red;
}

.btn-delete:hover {
    background-color: #fee2e2;
    color: red;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 16px 24px;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    transform: translateX(400px);
    transition: transform 0.3s ease;
    z-index: 1000;
    max-width: 400px;
}
.toast.show {
    transform: translateX(0);
}
.toast.success {
    background-color: rgb(64, 155, 64);
}
.toast.error {
    background-color: rgb(180, 56, 56);
}
